# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Backend
backend/bin/
backend/*.exe
backend/*.out
backend/pkg/
backend/go.sum
backend/.env

# General
.DS_Store
.vscode/
.idea/
*.swp
*.log
